apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-d8nl
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-uzky-tenant/quarkus/devfile-sample-code-with-quarkus-d8nl@sha256:5bdf6943541f992d9892e7b40e315283dbcdc7904f0321bbe28f499523a8a9c3
        name: my-java-quarkus
        resources: {}
status: {}
